<h2 class="text-center mb-5">Agregar Producto</h2>
{{!-- <div id="userEmail"></div> --}}
<h4>Bienvenido {{user}}   <button onclick="location.href='/logout'">Logout</button></h4>
<div class="d-flex justify-content-evenly">
  <form action="/api/productos-test"  method="POST" class="d-flex flex-column" id="productForm">
    Titulo: <input type="text" name="title" id="title"/> 
    Precio:<input type="number" name="price" id="price"/>
    Foto: <input type="text" name="image" id="image"/>
    <button>Enviar</button>
  </form>
  <form id="chatForm" >
    <div id="container" style="height:250px; display:block; overflow-y:scroll; scroll-behavior: smooth;"></div>
    <input id="chatInput" placeholder="Mensaje"/>
    <button type="submit">Enviar</button>
  </form>
  <hr/>
</div>

